WSGestionAnuncios/xsd/Dir3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dir3">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nivel" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="orden"/>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:string" name="descripcion"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>